# Pre-processing Data Iklim di Indonesia Tahun 2011-2015
### Sumber Data : Badan Pusat Statistik (BPS)

In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
hujan1=pd.read_csv("D:\DATA MINING\Hujan.csv", sep=";")
hujan1.head()

,Provinsi,Tahun,Jumlah Curah Hujan (mm),Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,Aceh,2011,1268.0,150.0,1009.4,52.2,27.1,4.9,79.4
1,Sumatera Utara,2011,2042.0,225.0,NaN,44.4,27.2,1.8,79.0
2,Sumatera Barat,2011,NaN,NaN,990.8,32.8,NaN,0.5,54.2
3,Riau,2011,2405.0,211.0,1008.7,42.3,27.0,5.4,74.5
4,Jambi,2011,2295.0,209.0,1010.2,54.1,26.9,5.5,82.5

In [3]:
hujan1.describe()

,Tahun,Jumlah Curah Hujan (mm),Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
count,170.000000,162.000000,155.000000,158.000000,159.000000,158.000000,159.000000,162.000000
mean,2013.000000,2298.672840,183.116129,1006.695823,59.120189,27.011519,3.808302,80.443889
std,1.418391,835.757699,43.224866,15.892553,12.206281,0.919253,2.502420,4.408865
min,2011.000000,460.900000,68.000000,922.100000,22.900000,23.400000,0.070000,54.200000
25%,2012.000000,1682.275000,153.500000,1009.300000,50.410000,26.800000,2.250000,78.100000
50%,2013.000000,2267.200000,183.000000,1010.100000,59.000000,27.100000,3.300000,81.000000
75%,2014.000000,2832.400000,217.000000,1011.175000,67.945000,27.400000,4.600000,83.595000
max,2015.000000,5041.000000,276.000000,1014.900000,85.050000,28.770000,19.250000,97.800000

## a. Missing value

In [4]:
np.sum(hujan1.isnull())

Provinsi                     0
Tahun                        0
Jumlah Curah Hujan (mm)      8
Jumlah Hari Hujan (hari)    15
Tekanan Udara (mb)          12
Penyinaran Matahari (%)     11
Suhu (?C)                   12
Kecepatan Angin (m/det)     11
Kelembaban                   8
dtype: int64

In [5]:
hujan1['Jumlah Curah Hujan (mm)'] = hujan1['Jumlah Curah Hujan (mm)'].fillna(hujan1['Jumlah Curah Hujan (mm)'].mean())
hujan1['Jumlah Hari Hujan (hari)'] = hujan1['Jumlah Hari Hujan (hari)'].fillna(hujan1['Jumlah Hari Hujan (hari)'].mean())
hujan1['Tekanan Udara (mb)'] = hujan1['Tekanan Udara (mb)'].fillna(hujan1['Tekanan Udara (mb)'].mean())
hujan1['Penyinaran Matahari (%)'] = hujan1['Penyinaran Matahari (%)'].fillna(hujan1['Penyinaran Matahari (%)'].mean())
hujan1['Suhu (?C)'] = hujan1['Suhu (?C)'].fillna(hujan1['Suhu (?C)'].mean())
hujan1['Kecepatan Angin (m/det)'] = hujan1['Kecepatan Angin (m/det)'].fillna(hujan1['Kecepatan Angin (m/det)'].mean())
hujan1['Kelembaban'] = hujan1['Kelembaban'].fillna(hujan1['Kelembaban'].mean())
np.sum(hujan1.isnull())

Provinsi                    0
Tahun                       0
Jumlah Curah Hujan (mm)     0
Jumlah Hari Hujan (hari)    0
Tekanan Udara (mb)          0
Penyinaran Matahari (%)     0
Suhu (?C)                   0
Kecepatan Angin (m/det)     0
Kelembaban                  0
dtype: int64

In [6]:
hujan1.to_csv("hujan1.csv")
hujan1.head()

,Provinsi,Tahun,Jumlah Curah Hujan (mm),Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,Aceh,2011,1268.00000,150.000000,1009.400000,52.2,27.100000,4.9,79.4
1,Sumatera Utara,2011,2042.00000,225.000000,1006.695823,44.4,27.200000,1.8,79.0
2,Sumatera Barat,2011,2298.67284,183.116129,990.800000,32.8,27.011519,0.5,54.2
3,Riau,2011,2405.00000,211.000000,1008.700000,42.3,27.000000,5.4,74.5
4,Jambi,2011,2295.00000,209.000000,1010.200000,54.1,26.900000,5.5,82.5

## b. Missing value dan Outlier

In [7]:
from scipy import stats
hujan_=hujan1.drop(['Provinsi','Tahun'],1)
z = np.abs(stats.zscore(hujan_._get_numeric_data()))
print(z)
hujan2=hujan1[(z<3).all(axis=1)]
print(hujan2.shape)

[[1.26721985e+00 8.04952054e-01 1.77058232e-01 ... 1.00158874e-01
  4.52520490e-01 2.43298238e-01]
 [3.15581148e-01 1.01806911e+00 2.23312182e-14 ... 2.13357028e-01
  8.32462513e-01 3.36525876e-01]
 [1.11823044e-15 0.00000000e+00 1.04079210e+00 ... 0.00000000e+00
  1.37132635e+00 6.11663943e+00]
 ...
 [1.70320317e+00 1.36401188e+00 4.12771200e-01 ... 3.26555183e-01
  5.00853996e-01 4.99674243e-01]
 [6.71221467e-01 8.47920466e-01 3.14557463e-01 ... 4.39753338e-01
  9.40235281e-01 7.35591960e-01]
 [1.26980182e+00 3.67426975e-01 2.88367134e-01 ... 8.92545957e-01
  5.00853996e-01 1.15226771e+00]]
(156, 9)

In [8]:
hujan2.to_csv("hujan2.csv")
hujan2.head()

,Provinsi,Tahun,Jumlah Curah Hujan (mm),Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,Aceh,2011,1268.0,150.0,1009.400000,52.2,27.1,4.9,79.4
1,Sumatera Utara,2011,2042.0,225.0,1006.695823,44.4,27.2,1.8,79.0
3,Riau,2011,2405.0,211.0,1008.700000,42.3,27.0,5.4,74.5
4,Jambi,2011,2295.0,209.0,1010.200000,54.1,26.9,5.5,82.5
5,Sumatera Selatan,2011,2593.0,217.0,1009.600000,54.0,27.3,2.7,84.8

## c. Missing value dan Transformasi

In [9]:
x1=hujan1.iloc[0:,3:]
x1.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,150.000000,1009.400000,52.2,27.100000,4.9,79.4
1,225.000000,1006.695823,44.4,27.200000,1.8,79.0
2,183.116129,990.800000,32.8,27.011519,0.5,54.2
3,211.000000,1008.700000,42.3,27.000000,5.4,74.5
4,209.000000,1010.200000,54.1,26.900000,5.5,82.5

### Transformasi metode normalisasi

In [10]:
from sklearn.preprocessing import normalize
x1norm=normalize(x1,norm='l2')
x1norm=pd.DataFrame(x1norm, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x1norm.to_csv("x1norm.csv")
x1norm.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,0.146303,0.984522,0.050913,0.026432,0.004779,0.077443
1,0.217210,0.971840,0.042863,0.026258,0.001738,0.076265
2,0.181316,0.981058,0.032477,0.026746,0.000495,0.053667
3,0.203972,0.975104,0.040891,0.026101,0.005220,0.072019
4,0.201608,0.974472,0.052187,0.025949,0.005305,0.079582

### Transformasi metode minmax

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,5))
scaler.fit(x1)
x1scaled=scaler.transform(x1)
x1scaled=pd.DataFrame(x1scaled, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x1scaled.to_csv("x1scaled.csv")
x1scaled.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,1.971154,4.703664,2.357200,3.445065,1.259124,2.889908
1,3.774038,4.557965,1.729686,3.538175,0.450991,2.844037
2,2.767215,3.701509,0.796460,3.362681,0.112096,0.000000
3,3.437500,4.665948,1.560740,3.351955,1.389468,2.327982
4,3.389423,4.746767,2.510056,3.258845,1.415537,3.245413

### Transformasi metode 3sigmoid

In [12]:
x1sigmoidal=(1-2.718281828**(-x1norm))/(1+2.718281828**(-x1norm))
x1sigmoidal=pd.DataFrame(x1sigmoidal, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x1sigmoidal.to_csv("x1sigmoidal.csv")
x1sigmoidal.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,0.073021,0.456009,0.025451,0.013215,0.002390,0.038702
1,0.108180,0.450972,0.021428,0.013128,0.000869,0.038114
2,0.090410,0.454636,0.016237,0.013372,0.000248,0.026827
3,0.101634,0.452271,0.020443,0.013050,0.002610,0.035994
4,0.100464,0.452020,0.026087,0.012974,0.002653,0.039770

## d. Missing value, Outlier dan Transformasi

In [13]:
x2=hujan2.iloc[0:,3:]
x2.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,150.0,1009.400000,52.2,27.1,4.9,79.4
1,225.0,1006.695823,44.4,27.2,1.8,79.0
3,211.0,1008.700000,42.3,27.0,5.4,74.5
4,209.0,1010.200000,54.1,26.9,5.5,82.5
5,217.0,1009.600000,54.0,27.3,2.7,84.8

### Transformasi metode normalisasi

In [14]:
x2norm=normalize(x2,norm='l2')
x2norm=pd.DataFrame(x2norm, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x2norm.to_csv("x2norm.csv")
x2norm.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,0.146303,0.984522,0.050913,0.026432,0.004779,0.077443
1,0.217210,0.971840,0.042863,0.026258,0.001738,0.076265
2,0.203972,0.975104,0.040891,0.026101,0.005220,0.072019
3,0.201608,0.974472,0.052187,0.025949,0.005305,0.079582
4,0.209076,0.972731,0.052028,0.026303,0.002601,0.081703

### Transformasi metode minmax

In [15]:
scaler=MinMaxScaler(feature_range=(0,5))
scaler.fit(x2)
x2scaled=scaler.transform(x2)
x2scaled=pd.DataFrame(x2scaled, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x2scaled.to_csv("x2scaled.csv")
x2scaled.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,1.971154,4.413646,1.829763,2.706044,2.360704,2.764706
1,3.774038,4.125354,1.077012,2.843407,0.845552,2.647059
2,3.437500,4.339019,0.874349,2.568681,2.605083,1.323529
3,3.389423,4.498934,2.013125,2.431319,2.653959,3.676471
4,3.581731,4.434968,2.003474,2.980769,1.285435,4.352941

### Transformasi metode 3sigmoid

In [16]:
x2sigmoidal=(1-2.718281828**(-x2norm))/(1+2.718281828**(-x2norm))
x2sigmoidal=pd.DataFrame(x2sigmoidal, columns = ['Jumlah Hari Hujan (hari)','Tekanan Udara (mb)','Penyinaran Matahari (%)','Suhu (?C)','Kecepatan Angin (m/det)','Kelembaban'])
x2sigmoidal.to_csv("x2sigmoidal.csv")
x2sigmoidal.head()

,Jumlah Hari Hujan (hari),Tekanan Udara (mb),Penyinaran Matahari (%),Suhu (?C),Kecepatan Angin (m/det),Kelembaban
0,0.073021,0.456009,0.025451,0.013215,0.002390,0.038702
1,0.108180,0.450972,0.021428,0.013128,0.000869,0.038114
2,0.101634,0.452271,0.020443,0.013050,0.002610,0.035994
3,0.100464,0.452020,0.026087,0.012974,0.002653,0.039770
4,0.104159,0.451327,0.026008,0.013151,0.001301,0.040829